.nav {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Supermercado One", cursive;
  background: var(--headbackground);
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav ul li {
  margin: 0rem 1rem;
  color: var(--orange);
  font-size: 1.2rem;
  font-weight: 500;
}

.nav ul li a {
  transition: all 0.3s ease;
}

.nav ul li a:hover {
  color: var(--orange-burnt);
  transition: all 0.3s ease;
}
