.games {
  display: grid;
  grid-template-columns: 1fr 14fr 1fr;
  grid-template-rows: 10vh auto 10vh;
  grid-template-areas:
    ". . ."
    ". games ."
    ". . .";

  background-color: var(--white);
}

.games__games {
  grid-area: games;
}

.sectionhead {
  color: var(--orange);
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
