.home {
  display: grid;
  grid-template-columns: 1fr 16fr 1fr;
  grid-template-rows: 70vh auto;
  grid-template-areas:
    "hero hero hero"
    ". . .";
  background: var(--white);
}

.hero {
  grid-area: hero;
  background-image: url(../public/images/bgdic.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 2fr 4fr;
  grid-template-areas:
    "."
    "title"
    "input";
}

.hero__title {
  grid-area: title;
  text-align: center;
  color: var(--orange);
}

.hero__input {
  grid-area: input;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.hero__input input {
  width: 40%;
  height: 12vh;
  border: 1px solid var(--orange);
  font-weight: 700;
  padding: 0.7rem;
  font-size: 1.7rem;
  color: var(--orange);
  outline: none;
}
.hero__input input:focus {
  outline: 2px solid var(--orange);
}
.hero__input input::placeholder {
  color: var(--orange);
  opacity: 0.6;
}
.hero__input a {
  background: var(--orange);
  height: 12vh;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 1.2rem;
}
