.home {
  display: grid;
  grid-template-columns: 1fr 16fr 1fr;
  grid-template-rows: 70vh auto;
  grid-template-areas:
    "hero hero hero"
    ". . .";
  background: var(--white);
  min-height: 100vh;
}

.hero {
  grid-area: hero;
  background-image: url(../public/images/bgdic.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 2fr 4fr;
  grid-template-areas:
    "."
    "title"
    "input";
}

.hero__title {
  grid-area: title;
  text-align: center;
  color: var(--orange);
}

.hero__input {
  width: 40%;
  grid-area: input;
  justify-self: center;
  position: relative;
}
.hero__input input {
  grid-area: input;
  width: 100%;
  height: 12vh;
  border: 1px solid var(--orange);
  font-weight: 700;
  padding: 0.7rem;
  font-size: 1.7rem;
  color: var(--orange);
  outline: none;
}
.hero__input input:focus {
  outline: 2px solid var(--orange);
}
.hero__input input::placeholder {
  color: var(--orange);
  opacity: 0.6;
}

.results {
  grid-area: results;
  border: 1px solid var(--orange);
  list-style: none;
  background: var(--white);
  position: absolute;
  top: 12vh;
  left: 0;
  width: 100%;
}
.results li {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.results li a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}
.results li a p {
  margin-right: 1rem;
}
.actualword {
  font-weight: 400;
  font-size: 2rem;
}
.actualkind {
  font-size: 1rem;
  color: var(--orange);
}

.homebelow {
  display: grid;
  grid-template-columns: 4vw 40vw 10vw 30vw 4vw;
  grid-template-rows: 7vh auto 7vh;
  grid-template-areas:
    ". . . . ."
    ". wordoftheday . hachikodictionary ."
    ". . . . .";
  height: 70vh;
  gap: 30px;
}
.wordoftheday {
  grid-area: wordoftheday;
  border: 1px solid var(--orange);
  padding: 2rem;
  position: relative;
  font-size: 1.4rem;
  height: max-content;
  font-weight: 300;
}
.wordoftheday p {
  font-size: 1.1rem;
}
.wordoftheday::before {
  content: "Word Of The Day";
  position: absolute;
  top: -1rem;
  left: 4%;
  width: max-content;
  height: 5vh;
  background: var(--orange);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  font-weight: 300;
  font-size: 1rem;
}

.hachikodictionary {
  grid-area: hachikodictionary;
  padding: 2rem;
  border: 1px solid var(--orange);
  height: max-content;
  font-size: 1.2rem;
  position: relative;
  font-weight: 300;
}
.hachikodictionary::before {
  content: "What is It?";
  position: absolute;
  top: -1rem;
  left: 4%;
  background: var(--orange);
  color: var(--white);
  padding: 0.7rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.externallink {
  text-decoration: underline;
  text-decoration-color: var(--orange);
  font-weight: 300;
  transition: all 0.3s ease;
}
.externallink:hover {
  color: var(--orange);
  transition: all 0.3s ease;
}

.brandname {
  color: var(--orange);
  font-weight: 700;
}

@media (max-width: 1100px) {
  .hero__input {
    width: 60%;
  }
  .hero__input input {
    height: 10vh;
    width: 100%;
  }
  .results {
    width: 100%;
  }
  .homebelow {
    grid-template-columns: 4vw 40vw 1vw 30vw 1vw;
  }
}

@media (max-width: 800px) {
  .hero__input {
    width: 85%;
  }
  .hero__input input {
    width: 80%;
    font-size: 1.6rem;
  }
  .results {
    width: 80%;
  }
  .actualword {
    font-size: 1.3rem;
  }
  .actualkind {
    font-size: 0.7rem;
  }
  .homebelow {
    grid-template-columns: 4vw 80vw 4vw;
    grid-template-areas:
      ". . ."
      ". wordoftheday ."
      ". hachikodictionary ."
      ". . .";
  }
}
