.form {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: var(--white);
}
.inputcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0.5rem;
}
.inputcontainer input {
  height: 6vh;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  border: 1px solid var(--orange);
}
.inputcontainer textarea {
  padding: 0.3rem;
  min-height: 10vh;
  border: 1px solid var(--orange);
  resize: none;
}
.form button {
  padding: 0.5rem 1rem;
  margin: 1rem;
  border: 1px solid var(--orange);
}

.notify {
  text-align: center;
  padding: 2rem;
  background: limegreen;
  color: white;
}
