.singlewordpage {
  display: grid;
  grid-template-columns: 6vw 60vw 6vw;
  grid-template-rows: 10vh auto 10vh;
  grid-template-areas:
    ". . ."
    ". content ."
    ". . .";
  color: var(--black);
  background: var(--white);
}

.singleword {
  grid-area: content;
}

.singleword__word {
  color: var(--orange);
  font-size: 2rem;
}

.singleword__kind {
  padding: 1rem 0rem;
}

.singleword__desc {
  padding: 1rem 0rem;
  list-style: none;
}

.singleword__syn {
  padding: 1rem 0rem;
  list-style: none;
  display: flex;
}
.singleword__syn li {
  margin-right: 0.4rem;
}

.singleword__ant {
  padding: 1rem 0rem;
  list-style: none;
  display: flex;
}
.singleword__ant li {
  margin-right: 0.4rem;
}

.singleword__sentences {
  list-style: none;
  padding: 1rem 0rem;
}

.sectiontitle {
  color: var(--orange);
}

@media (max-width: 800px) {
  .singlewordpage {
    grid-template-columns: 2vw 95vw 2vw;
  }
}
