@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #efefef;
}

@keyframes rotateLogo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-icon {
  position: relative;
  animation: rotateLogo 6s linear infinite;
}

.logo {
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
}