.guesstheword {
  display: grid;
  grid-template-columns: 1fr 18fr 1fr;
  grid-template-rows: 20vh auto 10vh;
  grid-template-areas:
    ". . ."
    ". game ."
    ". . .";
  background: var(--white);
}
.guesstheword__game {
  grid-area: game;
  min-height: 50vh;
  padding: 0.9rem;
}

.guesstheword__game__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  text-align: center;
}
.guesstheword__game__menu__desc h1 {
  color: var(--orange);
  font-size: 3rem;
}

.guesstheword__game__menu__desc p {
  font-size: 1.2rem;
}

.guesstheword__game__menu__options button {
  padding: 0.8rem 0.9rem;
  font-size: 1.3rem;
  color: var(--white);
  background-color: var(--orange);
  outline: none;
  margin: 0.3rem;
  border: none;
  font-family: "Supermercado One", cursive;
  transition: all 0.3s ease;
}

.guesstheword__game__menu__options button:hover {
  cursor: pointer;
  background-color: var(--red);
  transition: all 0.3s ease;
}

.guesstheword__game__game {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.guesstheword__game__game__top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 1.2rem;
}

.guesstheword__game__game__bottom button {
  padding: 0.6rem 0.8rem;
  background: var(--orange);
  color: var(--white);
  font-family: "Supermercado One", cursive;
}

.guesstheword__game__game__bottom button:hover {
  background-color: var(--red);
  cursor: pointer;
}

.guesstheword__game__end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 1.4rem;
}

.guesstheword__game__end__answers {
  list-style: none;
  padding: 0;
}

@media (max-width: 800px) {
  .guesstheword {
    grid-template-areas:
      ". . ."
      "game game game"
      ". . .";
  }
  .guesstheword__game {
    border: none;
  }
  .guesstheword__game__game__top {
    font-size: 1.4rem;
    letter-spacing: -2px;
  }
  .guesstheword__game__game__bottom button {
    padding: 0.3rem 0.6rem;
  }
}
