@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap");
/* font-family: 'Supermercado One', cursive; */

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fffcf7;
  --orange: #ab4b3e;
  --orange-burnt: #7c251a;
  --black: #4a4453;
  --green: rgb(87, 153, 87);
  --red: rgb(194, 81, 81);
  --whiteorange: #fffafa;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Fira Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--orange);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--black);
}
