.home {
  display: grid;
  grid-template-columns: 16fr ;
  grid-template-rows: 70vh 30vh auto;
  grid-template-areas:
    "hero "
    "info "
    "games ";
  background: var(--white);
}

.sectionhead {
  color: var(--orange);
  font-size: 1rem;
}

