.singlewordpage {
  display: grid;
  grid-template-columns: 4vw 60vw 4vw;
  grid-template-rows: 10vh auto 10vh;
  grid-template-areas:
    ". . ."
    ". content ."
    ". . .";
  color: var(--black);
  background: var(--white);
}
.singleword {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(10vh, max-content) 7vh minmax(10vh, max-content) 10vh 10vh minmax(
      15vh,
      max-content
    );
  grid-template-areas:
    "word"
    "kind"
    "desc"
    "syn"
    "ant"
    "sent";
}

.singleword__word {
  color: var(--black);
  font-size: 2.5rem;
  grid-area: word;
}

.singleword__kind {
  color: var(--orange);
  font-size: 1.4rem;
  font-weight: 700;
  grid-area: kind;
}


.singleword__desc ul{
  list-style: none;
  grid-area: desc;
  padding: 1rem 0rem;
  font-size: 1.5rem;
}

.singleword__syn ul{
  list-style: none;
  display: flex;
  grid-area: syn;
  font-size: 1.5rem;
  padding: 1rem 0rem;
}
.singleword__syn li {
  margin-right: 0.4rem;
  font-weight: 600;
  color: var(--green);
}

.singleword__ant ul{
  list-style: none;
  display: flex;
  grid-area: ant;
  font-size: 1.5rem;
  padding: 1rem 0rem;
}
.singleword__ant li {
  margin-right: 0.4rem;
  font-weight: 600;
  color: var(--red);
}

.singleword__sentences ul{
  list-style: none;
  grid-area: sent;
  font-size: 1.5rem;
  padding: 1rem 0rem;
}
.singleword__sentences li {
  padding: 0.2rem 0rem;
}

.sectiontitle {
  color: var(--orange);
}

@media (max-width: 800px) {
  .singleword__word {
    font-size: 2.2rem;
  }

  .singleword__kind{
    font-size: 1rem;
  }

  .singleword__desc ul{
    font-size: 1.3rem;
  }

  .singleword__syn ul{
    font-size: 1.3rem;
  }

  .singleword__ant ul{
    font-size: 1.3rem;
  }

  .singleword__sentences ul{
    font-size: 1.3rem;
  }

}
