.singlewordpage {
  display: grid;
  grid-template-columns: 4vw 60vw 4vw;
  grid-template-rows: 10vh auto 10vh;
  grid-template-areas:
    ". . ."
    ". content ."
    ". . .";
  color: var(--black);
  background: var(--white);
}
.singleword {
  grid-area: content;
  font-size: 1.7rem;
}

.singleword__word {
  color: var(--black);
  font-size: 2rem;
  margin-top: 4rem;
  font-family: "Supermercado One", cursive;
}

.singleword__kind {
  padding: 0.4rem 0rem;
  color: var(--orange);
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.singleword__desc {
  padding: 1rem 0rem;
  list-style: none;
  font-size: 1.4rem;
}

.singleword__syn {
  padding: 1rem 0rem;
  list-style: none;
  display: flex;
}
.singleword__syn li {
  margin-right: 0.4rem;
  font-weight: 600;
  color: var(--green);
}

.singleword__ant {
  padding: 1rem 0rem;
  list-style: none;
  display: flex;
}
.singleword__ant li {
  margin-right: 0.4rem;
  font-weight: 600;
  color: var(--red);
}

.singleword__sentences {
  list-style: none;
  padding: 1rem 0rem;
}
.singleword__sentences li {
  padding: 0.2rem 0rem;
}

.sectiontitle {
  color: var(--orange);
}

@media (max-width: 800px) {
  .singlewordpage {
    grid-template-columns: 2vw 95vw 2vw;
  }
}
